<h2 mat-dialog-title>Add Role</h2>
<mat-dialog-content>
    <mat-card-content>
        <form [formGroup]="FormRoleEmp" id="form">
            <div>
                <mat-form-field>
                    <mat-label>Name Role</mat-label>
                    <mat-select placeholder="Name Role" (selectionChange)="chooseRole($event.value)">
                        <mat-option value="{{nrole}}" *ngFor="let nrole of listNameRole">{{nrole}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <section class="example-section">
                    <label class="example-margin"> Choose: </label>
                    <mat-checkbox formControlName="managerialPosition"> isManagerialPosition</mat-checkbox>
                </section>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>DateOfStartingWork</mat-label>
                    <input matInput placeholder="DateOfStartingWork" [matDatepicker]="picker1"
                        formControlName="dateOfStartingWork" (dateChange)="updateDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-dialog-content>
<mat-dialog-actions>
    <!-- <button mat-button mat-dialog-close>Close</button> -->
    <button mat-button (click)="Add()">Add Role</button>
    <button mat-button mat-dialog-close (click)="Cencel()">Cancel</button>
</mat-dialog-actions>